::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url(/static/img/bg.jpg) no-repeat;
	background-size: cover;
	font-family: 'Microsoft Yahei', serif, monospace, sans-serif;
}

*{
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 20px;
	font-family: arial;
}
.clear {
	clear:both;
}
.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 600px;
	width: 850px;
}

.user-list-wrap {
    float: left;
    height: 100%;
    color: #ccc;
    background-color: white;
    background-color: #2e3238;
}

.title {
    padding: 12px 18px 11px;
    border-bottom: 1px solid #292C33;
}

.title span {
	vertical-align: middle;
}

.dialog-logo {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.user-list {
    position: relative;
    width: 250px;
}

.user {
	overflow: hidden;
  padding: 12px 18px 11px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid #ccc;
	background-color: #2e3238;
	border-bottom: 1px solid #292C33;
  margin-left: 15px;
}
.user.circle {
  margin-left: 0px;
}
.user.circle:before {
  content: '';
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #3cc51f;
}

.user > button {
  float: right;
  background: none;
  border: none;
  color: #AAA;
  font-size: 14px;
}

.chat-view {
	width: 600px;
	padding-left: 250px;
	height: 600px;
	background-color: #eee;
}

.chat-history {
	overflow-y: auto;
	height: 75%;
}

.msg-wrap, .msg-mine-wrap {
	margin: 10px;
}

.msg-mine-wrap {
	float: right;
}

.msg-mine-wrap:after {
	content: '';
	display: block;
	clear: both;
}

.msg-wrap-left {
  display: inline-block;
}

.msg, .msg-mine {
	position: relative;
	padding: 6px 13px;
	max-width: 280px;
	display: inline-block;
	color: #666;
	font-size: 14px;
	border-radius: 3px;
    word-wrap: break-word;
    word-break: break-all;
}

.msg {
	background-color: white;
}

.msg-mine {
	background-color: #B2E281;
	color: #000;
}

.msg-mine:after {
	position: absolute;
	content: " ";
	border: 6px solid transparent;
	border-left-color: #B2E281;
    border-left-width: 4px;
    top: 9px;
    right: -9px;
}

.msg-name {
	font-size: 12px;
	color: #4f4f4f;
	font-weight: normal;
}

.msg:before {
	position: absolute;
	content: " ";
	border: 6px solid transparent;
	border-right-color: #fff;
    border-right-width: 4px;
    top: 9px;
    left: -9px;
}
.msg-avatar {
  margin-top: 7px;
  margin-left: 10px;
}
.msg-wrap .msg-avatar {
  margin: 0 10px 0;
  position: relative;
  top: 11px;
}
.msg-wrap .msg-avatar.msg-avatar-voice {
  top: 0;
}
.msg-avatar:before {
  content: attr(data-avatar);
  width: 45px;
  height: 45px;
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  color: #FFF;
}
.msg-wrap-right {
  float: right;
}

.tip-wrap {
	margin-top: 10px;
	text-align: center;
}

.tip {
	display: inline-block;
    background-color: #dcdcdc;
    font-size: 12px;
    padding: 1px 18px;
    color: #fff;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.type-area {
	border-top: 1px solid #ccc;
	position: relative;
	height: 25%;
}
.type-area > .toolbar {
    height: 30px;
    padding: 5px 17px;
}
.web-face {
  background: url(https://res.wx.qq.com/zh_CN/htmledition/v2/images/icon/sprite@2x28a2f7.png) 0 -805px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  background-size: 150px 2489px;
}
.web-speech {
  width: 50px;
  height: 20px;
  float: right;
  border-radius: 20px;
  margin-top: 4px;
  background: #C3C3C3;
}
.web-speech::after {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 18px;
  background: #FFF;
  display: block;
  margin: 1px;
  transition: all .5s;
}
.web-speech.on {
  background: #3caf36;
}
.web-speech.on::after {
  margin-left: 31px;
}
.web-voice-gray {
    float: left;
    background: url(https://res.wx.qq.com/zh_CN/htmledition/v2/images/icon/sprite@2x28a2f7.png) 0 -2427px;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block;;
    background-size: 150px 2489px;
}
.web-voice-gray-playing {
    float:left;
        background: url(https://res.wx.qq.com/zh_CN/htmledition/v2/images/icon/web_wechat_voice_gray_playing@2x28a2f7.gif);
        width: 23px;
        height: 23px;
        vertical-align: middle;
        display: inline-block;
        background-size: 23px 23px
    }
.web-voice-green {
    float:right;
    background: url(https://res.wx.qq.com/zh_CN/htmledition/v2/images/icon/sprite@2x28a2f7.png) 0 -2450px;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block;
    background-size: 150px 2489px;
}
.web-voice-playing {
    float:right;
    background: url(https://res.wx.qq.com/zh_CN/htmledition/v2/images/icon/web_wechat_voice_playing@2x28a2f7.gif);
    width: 23px;
    height: 23px;
    vertical-align: middle;
    display: inline-block;
    background-size: 23px 23px;
}
.input-box {
	height: 5em;
    overflow-y: auto;
    overflow-x: hidden;
    outline: 0;
    border: 0;
    font-size: 14px;
    background-color: #eee;
    padding-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
}
.voice-tip {
  display: none;
  line-height: 5em;
  text-align: center;
  color: #a3a3a3;
}

.btn-record {
    position: absolute;
    right: 90px;
    bottom: 15px;
    padding: 3px 20px;
    font-size: 14px;
    background: #FFF;
    border: 1px solid #C1c1c1;
    border-radius: 4px;
    color: #222;
}
.btn-send {
	position: absolute;
	right: 10px;
	bottom: 15px;
	background-color: #fff;
    color: #222;
    border: 1px solid #666;
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 20px;
    font-size: 14px;
    cursor: pointer;
}

#qrcode {
    position: absolute;
    width: 400px;
    height: 358px;
    top: 30px;
    left: 50px;
    background: white;
    text-align: center;
    padding: 10px 20px;
}

img.emoji {
	width: 20px;
	height: 20px;
}
.qr-content {
    margin: 25px 0;
}

.qr-share {
    position: relative;
    width: 60px;
    left: 85px;
    background-color: #fff;
    color: #222;
    border-radius: 3px;
    font-size: 14px
}


@-webkit-keyframes twinkling{    /*透明度由0到1*/
   0%{
      opacity:0; /*透明度为0*/
    }
   100%{
      opacity:1; /*透明度为1*/

   }
 }

 .atwho-view{position:absolute;top:0;left:0;display:none;margin-top:18px;background:#fff;border:1px solid #DDD;border-radius:3px;box-shadow:0 0 5px rgba(0,0,0,.1);min-width:120px;z-index:10}.atwho-view .cur{background:#36F;color:#fff}.atwho-view .cur small{color:#fff}.atwho-view strong{color:#36F}.atwho-view .cur strong{color:#fff;font:bold}.atwho-view ul{list-style:none;padding:0;margin:auto}.atwho-view ul li{display:block;padding:5px 10px;border-bottom:1px solid #DDD;cursor:pointer}.atwho-view small{font-size:smaller;color:#777;font-weight:400}
