<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>anychat</title>
	<script src="/static/libs/twemoji.min.js"></script>
  <link rel="stylesheet" href="/static/libs/custombox/custombox.min.css" type="text/css">
	<link rel="stylesheet" href="/static/css/chat.css">
	<script>socketUrl = '<%=socketUrl%>'</script>
</head>
<body>
	<div class="content">
		<nav class="user-list-wrap">
			<h4 class="title">
				<img class="dialog-logo" src="/static/img/dialog.png">
				<span>聊天室</span>
        <input type="button" value="二维码" class="qr-share">
			</h4>
			<script type="text/template" id="usr-tpl">
				<li class="user" data-id="{id}">{name}</li>
			</script>
			<ul class="user-list">
				<!-- <li class="user"><em class="cicle"></em>zhangkaihao</li> -->
			</ul>
		</nav>
		<main class="chat-view">
			<div class="chat-history">
				<script type="text/template" id="msg-tpl">
					<div class="msg-wrap">
					<span class="msg-wrap-left msg-avatar" data-avatar="{avatar}" style="background:{background}"></span>
						<div class="msg-wrap-left">
							<h4 class="msg-name">{displayName}</h4>
							<span class="msg">{message}</span>
						</div>
					</div>
				</script>
				<script type="text/template" id="msg-mine-tpl">
					<div class="msg-mine-wrap">
						<div class="msg-wrap-left">
							<h4 class="msg-name">{displayName}</h4>
							<span class="msg-mine">{message}</span>
						</div>
						<span class="msg-wrap-right msg-avatar" data-avatar="{avatar}" style="background:{background}"></span>
					</div>
					<div class="clear"></div>
				</script>

				<script type="text/template" id="tip-tpl">
					<p class="tip-wrap">
						<span class="tip">{msg}</span>
					</p>
				</script>
			</div>
			<div class="type-area">
				<pre class="input-box" contenteditable="true" ></pre>
				<button class="btn-send">发送</button>
			</div>
		</main>
	</div>
  <div id="qrcode" style="display: none">
      <div class="qr-content"></div>
      <div class="qr-des"></div>
  </div>
	<audio id="notification" preload src="http://7xlxgw.com1.z0.glb.clouddn.com/notification.wav" />
</body>
<script src="/static/libs/socket.io.js"></script>
<script src="/static/libs/jquery.min.js"></script>
<script src="/static/libs/jquery.qrcode.min.js"></script>
<script src="/static/libs/custombox/custombox.min.js"></script>
<script src="/static/js/chat.js"></script>
</html>
